{% extends layout %}
{% block  content %}
    <main class="container mt-3">
        <div>
            <form action="/tasks" method="post">
                <div class="input-group mb-3">
                    <label for="task" class="visually-hidden">Task</label>
                    <input
                    class="form-control"
                    type="text"
                    name="task"
                    id="task"
                    placeholder="Write a task..."
                    required>
                    <button class="btn btn-primary" type="button">Add task</button>
                </div>
            </form>
        </div>
        <div>
            <ul class="list-group">
                {% for task in tasks %}
                <li class="list-group-item d-flex justify-content-between">
                    {{task.task}}
                    <a
                        href="/tasks/{{task.id}}/delete"
                        class="btn btn-danger">
                        Delete task
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </main>
{% endblock %}